In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [2]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
import sklearn.metrics as met

In [5]:
x = np.array([10,20,30,40,50,60,70,80,90,100]).reshape(-1,1)
y = np.array([18,41,61,79,70,120,141,150,120,200]).reshape(-1,1)
df = pd.DataFrame(x)
df['y'] = y
df.head()

    0   y
0  10  18
1  20  41
2  30  61
3  40  79
4  50  70