In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [2]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
import sklearn.metrics as met

In [5]:
x = np.array([10,20,30,40,50,60,70,80,90,100]).reshape(-1,1)
y = np.array([18,41,61,79,70,120,141,150,120,200]).reshape(-1,1)
df = pd.DataFrame(x)
df['y'] = y
df.head()

    0   y
0  10  18
1  20  41
2  30  61
3  40  79
4  50  70

In [6]:
xtrain , xtest , ytrain , ytest = train_test_split(x,y,test_size = 0.3 , random_state = 3)

In [9]:
train_df = pd.DataFrame(xtrain)
train_df['y'] = ytrain
train_df

     0    y
0   30   61
1  100  200
2   70  141
3   80  150
4   10   18
5   40   79
6   90  120

In [10]:
test_df = pd.DataFrame(xtest)
test_df['y'] = ytest
test_df

    0    y
0  60  120
1  50   70
2  20   41