In [1]:
import pandas as pd
import numpy as np

In [5]:
df = pd.DataFrame([ [19,20,np.nan,15],[np.nan,np.nan,10,18],
    [17,12,11,np.nan],[20,18,19,13],[15,12,np.nan,np.nan]] , columns = ["ML","CA","DS","AP"])
df

     ML    CA    DS    AP
0  19.0  20.0   NaN  15.0
1   NaN   NaN  10.0  18.0
2  17.0  12.0  11.0   NaN
3  20.0  18.0  19.0  13.0
4  15.0  12.0   NaN   NaN

In [7]:
#for finding the number of na elments
df.isnull().sum()

ML    1
CA    1
DS    2
AP    2
dtype: int64

In [8]:
df.isna()

      ML     CA     DS     AP
0  False  False   True  False
1   True   True  False  False
2  False  False  False   True
3  False  False  False  False
4  False  False   True   True