In [1]:
from sklearn.svm import SVC
import numpy as np
import matplotlib.pyplot as plt

In [2]:
import pandas as pd 
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn import datasets

In [3]:
df = pd.read_csv("C:/Users/ABTIN/Desktop/CSV FILES/age_salary.csv")
df.head(5)

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [4]:
def gender_labeling(gender):
    if gender == "Male" : return 1
    else : return 0

In [5]:
df["Gender"] = df["Gender"].apply(gender_labeling)
df["Gender"].head(10)

0    1
1    1
2    0
3    0
4    1
5    1
6    0
7    0
8    1
9    0
Name: Gender, dtype: int64

In [6]:
x = df[["Gender","Age","EstimatedSalary"]].values
x

array([[    1,    19, 19000],
       [    1,    35, 20000],
       [    0,    26, 43000],
       ...,
       [    0,    50, 20000],
       [    1,    36, 33000],
       [    0,    49, 36000]], dtype=int64)

In [7]:
y = df[["Purchased"]].values

In [8]:
xtrain , xtest , ytrain , ytest = train_test_split(x,y,test_size = 0.3 , random_state = 3)

In [9]:
standardscaler = StandardScaler()
xtrain = standardscaler.fit_transform(xtrain)
xtest = standardscaler.transform(xtest)

In [10]:
np.amax(xtrain)

2.397802679158845

In [11]:
model = SVC(kernel = "linear")

In [12]:
%%capture
model.fit(xtrain,ytrain)

In [13]:
predict = model.predict(xtest)

In [18]:
import pandas as pd

In [23]:
df = pd.DataFrame([predict,ytest])
df.head()

,0,1,2,3,4,5,6,7,8,9,...,110,111,112,113,114,115,116,117,118,119
0,1,0,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,1
1,[0],[1],[1],[0],[0],[0],[1],[0],[0],[0],...,[0],[1],[0],[0],[0],[1],[0],[0],[1],[0]