In [1]:
from sklearn.svm import SVC
import numpy as np
import matplotlib.pyplot as plt

In [3]:
import pandas as pd 
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn import datasets

In [4]:
df = pd.read_csv("C:/Users/ABTIN/Desktop/CSV FILES/age_salary.csv")
df.head(5)

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [6]:
def gender_labeling(gender):
    if gender == "Male" : return 1
    else : return 0

In [7]:
df["Gender"] = df["Gender"].apply(gender_labeling)
df["Gender"].head(10)

0    1
1    1
2    0
3    0
4    1
5    1
6    0
7    0
8    1
9    0
Name: Gender, dtype: int64

In [12]:
x = df[["Gender","Age","EstimatedSalary"]].values
x

array([[    1,    19, 19000],
       [    1,    35, 20000],
       [    0,    26, 43000],
       ...,
       [    0,    50, 20000],
       [    1,    36, 33000],
       [    0,    49, 36000]], dtype=int64)

In [13]:
y = df[["Purchased"]].values

In [18]:
xtrain , xtest , ytrain , ytest = train_test_split(x,y,test_size = 0.3 , random_state = 3)

In [19]:
standardscaler = StandardScaler()
xtrain = standardscaler.fit_transform(xtrain)
xtest = standardscaler.transform(xtest)

In [20]:
xtrain[:10]

array([[ 1.06649172,  0.20477268, -0.38318707],
       [ 1.06649172, -1.28933414, -0.35328395],
       [-0.93765379, -0.07537235, -0.23367149],
       [ 1.06649172, -1.10257079, -1.6092148 ],
       [-0.93765379,  0.95182608, -1.19057119],
       [ 1.06649172, -1.19595247,  0.30458459],
       [-0.93765379,  0.29815435,  0.03545655],
       [-0.93765379, -0.44889906,  2.36789956],
       [-0.93765379,  1.41873446,  0.36439082],
       [ 1.06649172, -0.07537235, -0.53270264]])