In [1]:
from sklearn.svm import SVC
import numpy as np
import matplotlib.pyplot as plt

In [3]:
import pandas as pd 
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn import datasets

In [4]:
df = pd.read_csv("C:/Users/ABTIN/Desktop/CSV FILES/age_salary.csv")
df.head(5)

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0