In [1]:
import numpy as np
import pandas as pd

# Pandas Series

In [2]:
pd_series = pd.Series([1,3,2,6,3,8],index = ['X1','X2','X3','X4','X5','X6'])
pd_series

X1    1
X2    3
X3    2
X4    6
X5    3
X6    8
dtype: int64

In [4]:
#index label accessing
pd_series.X4

6

In [5]:
#index array accessing
pd_series[3]

6

In [8]:
print("all values: ", pd_series.values)

all values:  [1 3 2 6 3 8]

In [9]:
#how to can values of pd series
pd_series.value_counts()

3    2
1    1
2    1
6    1
8    1
dtype: int64

# Pandas DataFrame

In [11]:
df = pd.DataFrame([[20,20],[12,19],[19,16],[11,14],[20,19.5]] , index = ["S1","S2","S3","S4","S5"] ,columns = ["Math","Physic"])
df

    Math  Physic
S1    20    20.0
S2    12    19.0
S3    19    16.0
S4    11    14.0
S5    20    19.5

In [13]:
#df['Math'] == df.Math
df.Math

S1    20
S2    12
S3    19
S4    11
S5    20
Name: Math, dtype: int64

In [14]:
#data accessing by index location
df.iloc[2,1]

16.0