# Import necessary libraries:

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler, OneHotEncoder

# Load and Preprocess dataset

In [27]:
# Load the dataset using pandas.read_csv

df = pd.read_csv("./adult.csv")
df.head(15)

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K
5,34,Private,198693,10th,6,Never-married,Other-service,Not-in-family,White,Male,0,0,30,United-States,<=50K
6,29,?,227026,HS-grad,9,Never-married,?,Unmarried,Black,Male,0,0,40,United-States,<=50K
7,63,Self-emp-not-inc,104626,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,3103,0,32,United-States,>50K
8,24,Private,369667,Some-college,10,Never-married,Other-service,Unmarried,White,Female,0,0,40,United-States,<=50K
9,55,Private,104996,7th-8th,4,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,10,United-States,<=50K
10,65,Private,184454,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,6418,0,40,United-States,>50K
11,36,Federal-gov,212465,Bachelors,13,Married-civ-spouse,Adm-clerical,Husband,White,Male,0,0,40,United-States,<=50K
12,26,Private,82091,HS-grad,9,Never-married,Adm-clerical,Not-in-family,White,Female,0,0,39,United-States,<=50K
13,58,?,299831,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,0,0,35,United-States,<=50K
14,48,Private,279724,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,3103,0,48,United-States,>50K

In [19]:
df.shape

(48842, 15)

In [20]:
# Print first rows the dataset

print(df.head(1))

   age workclass  fnlwgt education  educational-num marital-status  \
0   25   Private  226802      11th                7  Never-married

          occupation relationship   race gender  capital-gain  capital-loss  \
0  Machine-op-inspct    Own-child  Black   Male             0             0

   hours-per-week native-country income
0              40  United-States  <=50K

In [26]:
# Drop rows with any missing values

#for NaN values
df.dropna(inplace = True)
print(f"after droping nans: {df.shape}")

#eliminate ? values
for (column_name , _) in df.iteritems():
    
    mask = df[f"{column_name}"] == '?'
    
    df = df[~mask]
    print(f"after droping ? valus of {column_name}: ")

print(f"final shape {df.shape}")

after droping nans: (48842, 15)
after droping ? valus of 0'th column
after droping ? valus of 0'th column
after droping ? valus of 0'th column
after droping ? valus of 0'th column
after droping ? valus of 0'th column
after droping ? valus of 0'th column
after droping ? valus of 0'th column
after droping ? valus of 0'th column
after droping ? valus of 0'th column
after droping ? valus of 0'th column
after droping ? valus of 0'th column
after droping ? valus of 0'th column
after droping ? valus of 0'th column
after droping ? valus of 0'th column
after droping ? valus of 0'th column
final shape (45222, 15)

C:\Users\abt\AppData\Local\Temp\ipykernel_11492\2417598304.py:8: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for (column_name , _) in df.iteritems():

# Visualize dataset

In [ ]:
# Visualize the dataset using scatter plots, histograms, box plots, and pair plots to understand the data distribution, identify outliers, and detect patterns.


# Scatter plot for Age vs Hours-per-week

# your code here:

?

plt.show()




# Histogram for distribution of age distribution

# your code here:

?

plt.show()



# Box plot for age to see outliers

# your code here:

?

plt.show()


# Pair plot for Age, education-num, and hours-per-week

# your code here:

?

plt.show()

# Encode and Normalize dataset

In [ ]:
# Use one-hot endcoding to convert categorical features into numerical format

df_encoded = ?

In [ ]:
# Use StandardScaler from sklearn.preprocessing to normalize the features.

scaler = StandardScaler()


# your code here:

?

# Implement PCA from Scratch

In [ ]:
# Start by ensuring all data is numeric and normalized.
# Subtract the mean to center the data, calculate the covariance matrix, find eigenvalues and eigenvectors, sort them, and project the data onto the principal components.
# This section will test your understanding of PCA's mathematical foundation.


# your code here:

?

# Visualize the PCA-reduced data

In [ ]:

# Scatter Plot for 2D PCA Data (choose 2 pricipal components)

# your code here:

?

plt.show()



# Heatmap for Principal Component Correlation
# This requires calculating the correlation matrix between the original data and the PCA-transformed data.

correlation_matrix = ?

sns.heatmap(correlation_matrix, annot=True, cmap='coolwarm')
plt.title('Correlation between Original Features and Principal Components')
plt.xlabel('Principal Components')
plt.ylabel('Original Features')
plt.show()